@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Gothic:300,400|Roboto:100,300,400&display=swap&subset=japanese");
body {
  color: #121212;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.header {
  width: 100vw;
  height: 60px;
  position: fixed;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  border-bottom: solid 0.5px #DBEEEA;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #121212;
}

@media (min-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

.header__logo {
  margin-right: auto;
}

.header__logo h1 {
  margin: 0;
}

.header .nav__button {
  position: relative;
  width: 24px;
  height: 60px;
}

@media (min-width: 768px) {
  .header .nav__button {
    display: none;
  }
}

.header .nav__button span {
  background-color: #DBEEEA;
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.header .nav__button span:nth-child(1) {
  top: calc(0px + 24px);
}

.header .nav__button span:nth-child(2) {
  top: calc(7px + 24px);
}

.header .nav__button span:nth-child(3) {
  top: calc(14px + 24px);
}

.header .nav__button.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(8px + 24px);
}

.header .nav__button.active span:nth-child(2) {
  opacity: 0;
}

.header .nav__button.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(8px + 24px);
}

@media (min-width: 768px) {
  .header nav.pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header nav.pc ul {
  margin: 0;
  list-style: none;
}

.header nav.pc ul li {
  display: inline;
  padding: 0 20px;
}

.header nav.pc ul li a {
  color: #DBEEEA;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-decoration: none;
  display: inline;
}

@media (max-width: 768px) {
  .header nav.pc {
    display: none !important;
  }
}

nav.sp {
  left: 0;
  position: fixed;
  opacity: 1;
  width: 100vw;
  padding: 15px;
  border-bottom: solid 0.5px #DBEEEA;
  overflow: hidden;
  z-index: 10;
  background-color: #121212;
  color: #DBEEEA;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

@media (max-width: 768px) {
  nav.sp {
    top: -320px;
  }
}

@media (min-width: 768px) {
  nav.sp {
    display: none !important;
  }
}

nav.sp ul {
  list-style: none;
}

nav.sp ul li {
  margin: 1.5rem 0;
}

nav.sp ul li a {
  text-decoration: none;
  color: #DBEEEA;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
}

nav.sp ul li a i {
  margin: 0 5px;
  opacity: .8;
}

nav.sp div {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  right: -85px;
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
}

nav.sp div .menu_img {
  height: 100%;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

nav.sp hr {
  background-color: #DBEEEA;
}

nav.sp p {
  font-size: .5rem;
}

nav.sp p a {
  color: #DBEEEA;
  text-decoration: none;
}

nav.sp.active {
  display: block !important;
  top: 60;
}

nav.sp.inactive {
  opacity: 0;
}

section {
  padding-bottom: 40px;
  min-height: 100vh;
}

section:not(.top) {
  width: 100vw;
  padding-top: 60px;
  background-image: url("../img/logo_bg.svg");
  background-repeat: repeat;
  background-position: 0 0;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

@media (min-width: 768px) {
  section:not(.top) {
    -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
  }
}

section:not(.top) .section-inner-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 2rem;
}

section:not(.top) h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 0 0 2rem;
}

section.top .key_visual {
  width: 100vw;
  position: relative;
  height: 100vh;
  display: table-cell;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
}

section.top .key_visual svg {
  display: block;
  margin: 0 auto;
  width: 90vw;
}

@media (min-width: 768px) {
  section.top .key_visual svg {
    width: 50vw;
  }
}

section.top .key_visual svg path {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

section.top .key_visual svg path.left_c {
  opacity: 0;
}

section.top .key_visual svg path.c_6 {
  -webkit-animation: left_c .5s ease-in forwards;
  animation: left_c .5s ease-in forwards;
}

section.top .key_visual svg path.c_5 {
  -webkit-animation: left_c  1s ease-in forwards;
  animation: left_c  1s ease-in forwards;
}

section.top .key_visual svg path.c_4 {
  -webkit-animation: left_c 1.5s ease-in forwards;
  animation: left_c 1.5s ease-in forwards;
}

section.top .key_visual svg path.c_3 {
  -webkit-animation: left_c  2s ease-in forwards;
  animation: left_c  2s ease-in forwards;
}

section.top .key_visual svg path.c_2 {
  -webkit-animation: left_c 2.5s ease-in forwards;
  animation: left_c 2.5s ease-in forwards;
}

section.top .key_visual svg path.c_1 {
  -webkit-animation: left_c  3s ease-in forwards;
  animation: left_c  3s ease-in forwards;
}

section.top .key_visual svg path.c_7 {
  fill: none;
  stroke: #121212;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  stroke-width: .3;
  -webkit-animation: right_c 5s ease-in forwards;
  animation: right_c 5s ease-in forwards;
}

section.top .key_visual img {
  display: block;
  margin: 20px auto 0;
  width: 90vw;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

@media (min-width: 768px) {
  section.top .key_visual img {
    width: 50vw;
  }
}

section.top .key_visual_2 {
  width: 100vw;
  height: calc(100vw - 60px);
}

section.news article {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  margin-bottom: 60px;
}

section.news article h2 {
  font-size: 1.5rem;
  font-weight: 100;
}

section.news article p {
  font-size: 1rem;
  line-height: 2rem;
}

section.news article div.eyecatch {
  margin: 0 0 20px;
}

@media (min-width: 768px) {
  section.news article div.eyecatch {
    max-width: 50vw;
  }
}

section.news article div.eyecatch img {
  width: 100%;
}

section.contact iframe {
  margin-bottom: 40px;
  filter: invert(90%);
  -webkit-filter: invert(90%);
}

a.disabled {
  pointer-events: none;
  opacity: .2;
}

@-webkit-keyframes left_c {
  0% {
    stroke-dashoffset: 2000;
    fill: transparent;
    opacity: 0;
  }
  50% {
    stroke-dashoffset: 1500;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #121212;
    opacity: .4;
  }
}

@keyframes left_c {
  0% {
    stroke-dashoffset: 2000;
    fill: transparent;
    opacity: 0;
  }
  50% {
    stroke-dashoffset: 1500;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #121212;
    opacity: .4;
  }
}

@-webkit-keyframes right_c {
  0% {
    stroke-dashoffset: 2000;
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 1500;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #121212;
  }
}

@keyframes right_c {
  0% {
    stroke-dashoffset: 2000;
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 1500;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #121212;
  }
}
/*# sourceMappingURL=style.css.map */