@keyframes left_c {
  0% {
    stroke-dashoffset: 2000;
    fill:transparent;
    opacity: 0;
   }
    50% {
    fill:transparent;
   }
    100% {
    stroke-dashoffset: 0;
    fill:#333;
    opacity: .35;
   }
}

@-webkit-keyframes right_c {
  0% {
  stroke-dashoffset: 2000;
  fill:transparent;
 }
  50% {
  fill:transparent;
 }
  100% {
  stroke-dashoffset: 0;
  fill:#333;
 }
 }
 @keyframes right_c {
  0% {
  stroke-dashoffset: 2000;
  fill:transparent;
 }
  50% {
  fill:transparent;
 }
  100% {
  stroke-dashoffset: 0;
  fill:#333;
 }
 }
 