@import "animations";

$sp: 768px;

@mixin pc {
  @media (min-width: ($sp)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

// color
$main: #DBEEEA;
$black: #121212;

// fonts
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic:300,400|Roboto:100,300,400&display=swap&subset=japanese');
$ja: "Sawarabi Gothic", sans-serif;
$logo: 'Roboto', sans-serif;

// animation
$nav_duration: .25s;

// layout
$header_height: 60px;

body {
  color: $black;
  font-family: $ja;
}

.header {
  width: 100vw;
  height: $header_height;
  position: absolute;
  z-index: 10000;
  display: flex;
  padding: 0 15px;
	justify-content: flex-end;
  align-items: center;
  background-color: $black;
  &__logo {
    margin-right: auto;
    
    h1 {
      img {
  
      }
    }
  }
  .nav__button {
    @include pc {
      display: none;
    }
    position: relative;
    width: 24px;
    height: 24px;
    span {
      background-color: $main;
      position: absolute;
      display: block;
      width: 24px;
      height: 2px;
      transition-duration: $nav_duration;
      transition-timing-function: ease-out;
      
    }
    span:nth-child(1) {
      top: 0px;
    }
    span:nth-child(2) {
      top: 7px;
    }
    span:nth-child(3) {
      top: 14px;
    }
  }
  .nav__button.active {
    span:nth-child(1) {
      transform: rotate(45deg);
      top: 8px;
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
      top: 8px;
    }
  }
  nav.pc {
    @include pc {
      display: flex;
    }
    ul {
      margin: 0;
      list-style: none;
      li {
        display: inline;
        padding: 0 20px;
        a {
          color: $main;
          font-family: $logo;
          font-weight: 100;
          text-decoration: none;
          display: inline;
        }
      }
    }
    @include sp {
      display: none!important;
    }
  }
}

nav.sp {
  @include sp {
    top: -320px;
  }
  @include pc {
    display: none!important;
  }
  left: 0;
  position: absolute;
  opacity: 1;
  width: 100vw;
  padding: 15px;
  overflow: hidden;
  z-index: 10;
  background-color: $black;
  color: $main;
  transition-duration: $nav_duration;
  transition-timing-function: ease-out;

  ul {
    list-style: none;
    li {
      margin: 1.5rem 0;
      a {
        text-decoration: none;
        color: $main;
        font-size: 1.25rem;
        font-family: $logo;
        font-weight: lighter;
      }
    }
  }
  div {
    position: absolute;
    height: 100%;
    top: 0px;
    right: -65px;
    .menu_img {
      height: 100%;
      opacity: .15;
      transition-duration: $nav_duration;
      transition-timing-function: ease-out;
    }
  }
}
nav.sp.active {  
  display: block!important;
  top: 60;
}
nav.sp.inactive {
  opacity: 0;
}

section {
  width: 100vw;
  padding-top: $header_height;

  h1 {
    font-family: $logo;
    font-weight: 400;
    font-size: 2rem;
    margin: 2rem 0;
  }
}

section.top {
  .key_visual {
    width: 100vw;
    position: relative;
    height: calc(100vh - 2 * #{$header_height});
    display: table-cell;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    svg {
      display: block;
      margin: 0 auto;
      width: 90vw;
      @include pc {
        width: 50vw;
      }
      .left_c {
        opacity: 0;
      }
      path.c_1 {
        -webkit-animation: left_c .5s ease-in forwards;
        animation: left_c .5s ease-in forwards;
      }
      path.c_2 {
        -webkit-animation: left_c  1s ease-in forwards;
        animation: left_c  1s ease-in forwards;
      }
      path.c_3 {
        -webkit-animation: left_c .5s ease-in forwards;
        animation: left_c .5s ease-in forwards;
      }
      path.c_4 {
        -webkit-animation: left_c  2s ease-in forwards;
        animation: left_c  2s ease-in forwards;
      }
      path.c_5 {
        -webkit-animation: left_c .5s ease-in forwards;
        animation: left_c .5s ease-in forwards;
      }
      path.c_6 {
        -webkit-animation: left_c  3s ease-in forwards;
        animation: left_c  3s ease-in forwards;
      }
      path.c_7 {
        fill: none;
        stroke: $black;
        stroke-dasharray: 2000;
        stroke-dashoffset: 0;
        stroke-width: .3;
        -webkit-animation: right_c 5s ease-in forwards;
        animation: right_c 5s ease-in forwards;
      }
    }
    img {
      display: block;
      margin: 20px auto 0;
      width: 90vw;
      @include pc {
        width: 50vw;
      }
      transition-duration: $nav_duration;
      transition-timing-function: ease-out;
    }
  }
}

section.news {
  article {
    font-family: $ja;
    margin-bottom: 60px;
    h2 {
      font-size: 1.5rem;
      font-weight: 100;
    }
    p {
      font-size: 1rem;
      line-height: 2rem;
    }
    p.date {

    }
    p.description {

    }
    div.eyecatch {
      margin: 0 0 20px;
      img {
        width: 100%;
      }
    }
  }
}

section.contact {
  iframe {
    filter:invert(90%);
    -webkit-filter:invert(90%)
  }
}

footer {

}

a.disabled{
  pointer-events: none;
  opacity: .2;
}