/* Footer */

footer {
  background-color: $black;
  display: flex;
  padding: 15px 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include sp {
    padding: 15px;
    flex-direction: column;
  }

  hr {
    background-color: $main;

    @include pc {
      display: none;
    }
  }

  p {
    color: $main;
    font-size: .5rem;
    display: block;

    a {
      color: $main;
      text-decoration: none;
      display: block;
    }
  }
}