/* Footer */

footer {
  background-color: $black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  @include sp {
    flex-direction: column;
  }

  hr {
    background-color: $main;
    @include pc {
      display: none;
    }
  }

  p {
    color: $main;
    font-size: .5rem;
    display: block;

    a {
      color: $main;
      text-decoration: none;
      display: block;
    }
  }
}