
// single is single page or single post page
// override grid.scss of bootstrap
.single .container {

  padding-bottom: $header_height;

  @media (min-width: 1201px) {
    max-width: 620px;
  }

  @media (max-width: 1200px) {
    max-width: 620px;
  }

  @media (max-width: 992px) {
    max-width: 620px;
  }

  @media (max-width: 768px) {
    max-width: calc(100vw - 64px);
  }

  @media (max-width: 480px) {
    max-width: calc(100vw - 30px);
  }
}

section.single {
  width: 100%;
  height: fit-content;
  padding-top: $header_height;
  background-image: url("../img/logo_bg.svg");
  background-repeat: repeat;
  background-position: 0 0;

  @include pc {
    transition-duration: 1000ms;
  }

  transition-timing-function: linear;

  .section-inner-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 2rem;
    margin-bottom: -50px;
  }

  ul,
  ol {
    color: #1e366a;
    border-top: solid #1e366a 1px;
    border-bottom: solid #1e366a 1px;
    padding: 0.5em 0 0.5em 1.5em;
    margin: calc(1rem + 20px) 0;
    padding-left: 2rem;
    font-size: 1rem;
    line-height: 1.8rem;

    ul li,
    ol li {
      line-height: 1.5;
      padding: 0.5em 0;
    }
  }

  figure {
    margin: calc(1rem + 20px) auto;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .wp-block-quote {
    background-color: $bg-white;
  }

  .wp-block-separator {
    margin: 4.5rem auto;
  }

  .aligncenter {
    text-align: center;
  }

  iframe {
    max-width: 100%;
  }

  .wp-block-embed-youtube {
    text-align: center;
  }

  .prev-next {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;

    .prev-link, .next-link {
      color: $main;
      background-color: $black;
      padding: 5px 10px;
      border-radius: 8px;
    }
  }

  @include sp {
    table {}
  }
}